.react-calendar {
  width: 90%;
  height: 90%;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  border-radius: 14px;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 10%;
  margin-bottom: 1em;
}
.react-calendar__navigation__label > span {
  font-size: 30px;
  font-weight: 700;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  /* font-size: 1em; */
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
  padding-bottom: 1.2em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}
/* .react-calendar__month-view__days__day--weekend {
  color: #d10000;
} */
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__month-view__days {
  display: flex;
  width: 100%;
  height: 100%;
}
.react-calendar__tile.react-calendar__month-view__days__day {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  box-sizing: border-box;
  padding: 2px;
  background: #f4f4f4;
  text-align: center;
  line-height: 16px;
  background-clip: content-box;
  border-radius: 15px;
  height: 8vh;
  /* pointer-events: none; */
}
abbr {
  padding-top: 3%;
  font-size: 11px;
}
.record {
  padding-top: 5%;
}
.react-calendar__tile:has(.record__mint) {
  text-align: center;
  background-color: #a8f1de;
}
.react-calendar__tile:has(.record__light-green) {
  background-color: #09f4a1;
}
.react-calendar__tile:has(.record__green) {
  background-color: #05c780;
}
.react-calendar__tile:has(.record__deep-green) {
  background-color: #049466;
}
.react-calendar__tile--now {
  background-clip: border-box;
  border: solid 3px #feb0b0 !important;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
/* .react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #006edc;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
} */

@media (min-width: 768px) {
  abbr {
    font-size: 14px;
  }
  .react-calendar__tile {
    font-size: 25px;
  }
}
